<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Julia Aceves</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		
		{{> navi_bar}}
	</head>

	<body>

		<div class="container">
			<h1 class="text-center">Julia Aceves</h1>
			<p class="text-center">Junior at the University of California, San Diego; pursuing a Bachelor of Science degree in Cognitive Science with a specialization in Human-Computer Interaction and a minor in Computer Science.</p>
		</div>

	</body>



	<script src="https://code.jquery.com/jquery.js"></script>
	
</html>